services:
  backend:
    build: ./backend
    container_name: traffic_backend
    volumes:
      - ./backend:/app
      - ./backend/config:/app/config
    ports:
      - "8000:8000"
    restart: always

  frontend:
    build: ./frontend
    container_name: traffic_frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules # Evita conflitti tra locale e container
    ports:
      - "5173:5173"
    environment:
      - VITE_PORT=5173
      - HOST=0.0.0.0
    restart: always